@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --plus: 'Plus Jakarta Sans', sans-serif;
    --inter: 'Inter', sans-serif;
}
body{
    display: flex;
    height: 100svh;
    /* overflow-x: hidden; */
}
aside{
    height: 90%;
    width: 60px;
    border-right: 0.5px solid #EBECF2;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: space-between;
    background: #F7F8FA;
    .menu1{
        width: 100%;
        height: fit-content;
        display: flex; flex-direction: column;
        align-items: center;
        padding: 10px 0px;
        row-gap: 5px;
        ul{
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            li div{
                height: 60px;
                width: 30px;
                background: #fff;
                border-radius: 30px;
                display: flex; flex-direction: column;
                align-items: center;
                row-gap: 10px;
                padding: 5px;
                img{
                    width: 100%; height: auto;
                }
            }
        }
    }
    .menu1 li:nth-child(2){
        border-right: 3px solid black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu2{
        width: 100%;
        height: 150px;
        /* border: 1px solid steelblue; */
        display: flex; flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        row-gap: 5px;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
        }
    }
}

main{
    width: 100%;
    height: fit-content;
    position: static;
    left: 60px;
    /* border: 1px solid blue; */
    background: #FAFAFA;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.dashboard{
    border-bottom: 1px solid rgba(225, 225, 225, 0.6);
    padding: 5px 15px;
    height: fit-content;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        font-family: var(--plus);
        font-size: 15px;
        font-weight: 500;
    }
    .dash_menu{
        min-width: 65%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .menu-search {
            display: flex;
            align-items: center;
            width: 40%;
            /* border: 1px solid red; */
            input{
                height: 35px;
                width: 100%;
                border-radius: 20px;
                padding: 2px 28px;
                border: 1px solid #EBECF2;
                font-family: var(--inter);
                font-size: 11px;
                color: #8b8c8f;
            }
            img{
                position: absolute;
                margin-left: 10px;
                width: 13px; height: auto;
            }
            input:focus{
                outline: none;
            }
        }
        .menu-calender{
            height: auto;
            display: flex;
            align-items: center;
            gap: 8px;
            img{width: 18px; height: auto;}
            p{
                font-family: var(--inter);
                font-size: 15px;
                color: #373838;
                text-wrap: wrap;
                height: 100%;
            }
        }
        .menu-notification{
            height: 30px; width: 30px;
            border-radius: 50%;
            border: 0.5px solid rgba(225, 225, 225, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            a img{
                width: 100%; height: auto;
            }
        }
        a{
            text-decoration: none;
            color: #373838;
        }
        .menu-profile{
            height: 100%;
            width: 150px fit-content;
            border: 0.5px solid rgba(225, 225, 225, 0.6);
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding: 5px;
            column-gap: 4px;
            .Ppic{
                height: 38px;
                width: 38px;
                border-radius: 50%;
                background-image: url(Ppic1.jpeg);
                background-size: cover;
            }
            .Pname{
                height: 100%;
                p{
                    font-family: var(--inter);
                    font-size: 12px;
                    text-align: right;
                }
            }
            img{
                height: 20%; width: auto;
                margin-left: 5px;
            }
        }
    }
    & :hover{
        .menu-notification:hover{
            background: #EBECF2;
        }
        .menu-profile:hover{
            background: #EBECF2;
        }
    }
    .hamburger{
        height: 100%;
        width: fit-content;
        display: none;
        a img{
            height: 20px;
            width: auto;
        }
    }
    .dash-icon{
        height: 100%;
        width: fit-content;
        display: none;
        a img{
            height: 30px;
            width: auto;
        }
    }
}

.sales-trend{
    /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 2px;
    column-gap: 15px;
    row-gap: 5px;
    .trend-chart{
        /* border: 1px solid blue; */
        min-height: 100%;
        min-width: 60% auto;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .trend-chart2{
        min-width: 35%;
        max-width: 100%;
        height: 375px;
        /* border: 1px solid aqua; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        .chart-total{
            /* border: 1px solid red; */
            background: #fff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            gap: 8px;
            font-family: var(--plus);
            .total-order{
                width: 100%;
                height: 25%;
                display: flex;
                align-items: center; justify-content: space-between;
                & div{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: 0.5px solid rgba(225, 225, 225, 0.6);
                    display: flex; align-items: center; justify-content: center;
                    padding: 5px;
                    img{
                        width: 100%; height: auto; display: block;
                    }
                }
            }
            p{
                color: #8b8c8f;
                font-size: 15px;
            }
            b{
                color: #373838;
                font-size: 18px;
            }
            .previous-month{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: last baseline;
                gap: 6px;
                .rates{
                    width: 50px;
                    height: 80%;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    background: #9feeda;
                    padding: 0px 5px;
                    color: #34CAA5;
                    font-size: 8px;
                    gap: 4px;
                }
                p{
                    font-size: 10px;
                    font-family: var(--inter);
                }
            }
        }
    }
}

.sales-trend2{
    /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 2px;
    column-gap: 15px;
    row-gap: 5px;
    .last-orders{
        width: 63%;
        height: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        background: #fff;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .order-headingtxt{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-family: var(--plus);
                font-size: 18px;
                color: #373838;
            }
            a{
                text-decoration: none;
                color: #34CAA5;
                font-family: var(--plus);
                font-size: 15px;
                font-weight: 500;
            }
        }
        .table-heading{
            border-bottom: 1px solid rgba(225, 225, 225, 0.6);
            height: 35px;
            display: flex;
            margin-top: -10px;
            ul{
                /* border: 1px solid blue; */
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                li{
                    flex: 2;
                    font-family: var(--plus);
                    font-size: 12px;
                    font-weight: 500;
                    color: #373838;
                }
            }
            li:nth-child(1){
                flex: 3;
            }
            li:nth-child(5){
                flex: 1;
            }
        }
        .table-body{
            border-bottom: 1px solid rgba(225, 225, 225, 0.6);
            height: 40px;
            display: flex;
            margin-top: -10px;
            ul{
                /* border: 1px solid blue; */
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                li{
                    flex: 2;
                    font-family: var(--plus);
                    font-size: 12px;
                    font-weight: 500;
                    color: #373838;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .cus-DP{
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        background-image: url(Ppic2.jpg);
                        background-size: cover;
                    }
                    a{
                        text-decoration: none;
                        color: #373838;
                    }
                }
            }
            li:nth-child(1){
                flex: 3;
            }
            li:nth-child(5){
                flex: 1;
            }
        }
        .table-body:nth-last-of-type(1){
            border-bottom: none;
        }
    }
    .top-platform{
        width: 35%;
        max-height: 275px;
        background: #fff;
        border-radius: 10px;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        /* border: 1px solid red; */
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        .platform-headingtxt{
            width: 100%;
            display: flex;
            justify-content: space-between;
            h2{
                font-family: var(--plus);
                font-size: 18px;
                color: #373838;
            }
            a{
                text-decoration: none;
                color: #34CAA5;
                font-family: var(--plus);
                font-size: 15px;
                font-weight: 500;
            }
        }
        .platform-body{
            display: grid;
            row-gap: 10px;
            h3{
                font-family: var(--plus);
                font-size: 14px;
                color: #373838;
            }
            .platform-progress{
                width: 100%;
                height: 10px;
                background: #F5F5F5;
                border-radius: 10px;
                .progress-bar{
                    height: 100%;
                    width: 50%;
                    background: #6160DC;
                    border-radius: 10px;
                }
            }
            .platform-rate{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2px 5px;
                h3{
                    font-family: var(--plus);
                    color: #525252;
                }
            }
        }
    }
}
.top-platform::-webkit-scrollbar{
    width: 10px;
}
.top-platform::-webkit-scrollbar-track{
    border-radius: 20px;
}
.top-platform::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #525252;
}
.sales-trend2:hover{
    .last-orders .order-headingtxt a:hover{
        text-decoration: underline;
    }
    .last-orders .table-body ul li a:hover{
        text-decoration: underline;
    }
    .last-orders .table-body:hover{
        background: #EBECF2;
    }
    .top-platform .platform-headingtxt a:hover{
        text-decoration: underline;
    }
    .top-platform:hover{
        overflow-y: scroll;
    }
}

@media all and (max-width: 1280px) {
    main{
        .sales-trend{
            .trend-chart{
                width: 100%;
            }
            .trend-chart2{
                width: 100%;
                height: fit-content;
            }
        }
        .sales-trend2{
            .last-orders{
                width: 100%;
            }
            .top-platform{
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 768px) {
    aside{
        display: none;
    }
    main{
        .dashboard{
            .dash-icon{
                display: block;
            }
            .hamburger{
                display: block;
            }
            p{
                display: none;
            }
            .dash_menu{
                justify-content: right;
                width: 70%;
                .menu-search{
                    display: none;
                }
                .menu-calender{
                    display: none;
                }
                .menu-notification{
                    display: none;
                }
                a .menu-profile{
                    .Ppic{
                        height: 20px;
                        width: 20px;
                    }
                    .Pname{
                        display: none;
                    }
                    img{
                        height: auto;
                        width: 10px;
                    }
                }
            }
        }
        .sales-trend{
            padding: 10px 10px;
            .trend-chart2{
                width: 100%;
                height: fit-content;
                grid-template-columns: 1fr;
                padding-bottom: 10px;
            }
        }
        .sales-trend2{
            .last-orders{
                .table-heading{
                    li:nth-of-type(3){
                        display: none;
                    }
                    li:nth-of-type(4){
                        display: none;
                    }
                }
                .table-body{
                    li:nth-of-type(3){
                        display: none;
                    }
                    li:nth-of-type(4){
                        display: none;
                    }
                }
            }
        }
    }
}